nav .container-fluid img{
    height: 50px;
    width: 50px;
}

nav .navbar-brand{
    margin-left: 20px;
}

.bg-body-tertiary{
    background-color: #74b9ff !important ;
}

.navbar .container-fluid{
    padding: 10px;
}

.nav-link{
    font-size: 18px;
    font-weight: 500;
}

.nav-link:hover{
    color: white;
}

.carousel-inner{
    height: 90.7vh;
}

.carousel-caption{
    background-color: rgba(0, 0, 0, 0.452);
    border-radius: 25px;
    margin-bottom: 30%;
    position: absolute;
    padding: 25px;
    animation-name: fadein;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
}

@keyframes fadein {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.carousel-caption h1{
    font-weight: bold;
}