nav .container-fluid img{
    height: 50px;
    width: 50px;
}

nav .navbar-brand{
    margin-left: 20px;
}

.bg-body-tertiary{
    background-color: #74b9ff !important ;
}

.navbar .container-fluid{
    padding: 10px;
}

.nav-link{
    font-size: 18px;
    font-weight: 500;
}

.nav-link:hover{
    color: white;
}

.carousel-caption{
    background-color: rgba(0, 0, 0, 0.452);
    border-radius: 25px;
    position: relative;
    animation-name: fadein;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    left: 25%;
    bottom: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
    padding: 10px;
    margin-top: 10%;
    width: 50%;
}

@keyframes fadein {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.carousel-caption h1{
    font-weight: bold;
}

.card{
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    padding: 20px;
    background-color: #a29bfe;
}

.card img{
    height: 10rem;
}