nav .container-fluid img{
    height: 50px;
    width: 50px;
}

nav .navbar-brand{
    margin-left: 20px;
}

.bg-body-tertiary{
    background-color: #74b9ff !important ;
}

.navbar .container-fluid{
    padding: 10px;
}

.nav-link{
    font-size: 18px;
    font-weight: 500;
}

.nav-link:hover{
    color: white;
}


.the-cards{
    padding-bottom: 3rem;
    padding-top: 3rem;
    background-image: url(/image/multisport.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
}

.the-cards .col-md-4{
    width: 30%;
}

.card{
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    padding: 20px;
    border-radius: 25px;
}

.card-2{
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 25px;
    font-size: 20px;
}

.card img{
    border-radius: 10px;
}

.card-body span{
    color: red;
    font-weight: bold;
}

.card-2 img{
    border-radius: 10px;
}

.the-cards h5{
    text-decoration: underline;
}

.card-2 .card-body{
    padding: 1rem;
}

footer{
    padding-top: 3rem;
    background-color: #74b9ff;
}

.container .row{
    display: flex;
    flex-wrap: wrap;
}

.container .row h6{
    text-decoration: underline;
    font-size: 20px;
    margin-bottom: 1rem;
}

.row .flex-column{
    text-decoration: underline;
}

.row .flex-column ul{
    list-style: none;
}

.row .flex-column ul li{
    margin-right: 35px;
    margin-bottom: 1rem;
}

.row .flex-column a{
    color: black;
}

.copyright{
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.082);
    width: 100%;
}

.copyright span{
    font-weight: bold;
}