nav .container-fluid img{
    height: 50px;
    width: 50px;
}

nav .navbar-brand{
    margin-left: 20px;
}

.bg-body-tertiary{
    background-color: #74b9ff !important ;
}

.navbar .container-fluid{
    padding: 10px;
}

.nav-link{
    font-size: 18px;
    font-weight: 500;
}

.nav-link:hover{
    color: white;
}

.carousel-caption{
    background-color: rgba(0, 0, 0, 0.452);
    border-radius: 25px;
    position: relative;
    animation-name: fadein;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    left: 25%;
    bottom: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
    padding: 10px;
    margin-top: 15%;
    width: 50%;
}

@keyframes fadein {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.carousel-caption h1{
    font-weight: bold;
    text-shadow: 1px 1px 2px #74b9ff;
}

.carousel-caption h1 span{
    color: red;
    text-shadow: 1px 1px 2px white;
}

.the-cards{
    padding-bottom: 3rem;
    padding-top: 3rem;
    font-size: 20px;
}

.the-cards .card-body{
    padding: 25px;
}

.the-cards .col-md-4{
    width: auto;
}

.card{
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    padding: 20px;
    background-color: #a29bfe;
    border-radius: 25px;
}

.card-2{
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    padding: 20px;
    background-color: #fab1a0;
    border-radius: 25px;
    font-size: 20px;
}

.card-2 .col-md-8{
    padding: 25px;
}


.card img{
    height: 10rem;
}

.card span{
    font-weight: bold;
    color: red;
    text-decoration: underline;
    text-shadow: 1px 1px 2px white;
}

.card-2 img{
    height: 10rem;
}

.card-2 span{
    font-weight: bold;
    color: red;
    text-decoration: underline;
    text-shadow: 1px 1px 2px white;
    font-size: 20px;
}

.card-2 a{
    color: red;
}

.the-cards h5{
    text-decoration: underline;
}

footer{
    padding-top: 3rem;
    background-color: #74b9ff;
}

.container .row{
    display: flex;
    flex-wrap: wrap;
}

.container .row h6{
    text-decoration: underline;
    font-size: 20px;
    margin-bottom: 1rem;
}

.row .flex-column{
    text-decoration: underline;
}

.row .flex-column ul{
    list-style: none;
}

.row .flex-column ul li{
    margin-right: 35px;
    margin-bottom: 1rem;
}

.row .flex-column a{
    color: black;
}

.copyright{
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.082);
    width: 100%;
}

.copyright span{
    font-weight: bold;
}